body {
background-color: #266b4b;
color: #000000;
font-family: Arial, sans-serif;
text-align: left;
margin-top: 50px;
}

h1 {
font-size: 24px;
margin-bottom: 20px;
}

input {
padding: 5px;
margin: 5px;
border: 1px solid #b38181;
border-radius: 4px;
}

button {
background-color: #a0c3cc;
border: none;
padding: 8px 15px;
border-radius: 5px;
cursor: pointer;
margin-top: 10px;
}

button:hover {
background-color: #efbed5;
}

#resultado {
margin-top: 20px;
font-weight: bold;
}
