body {
background-color: #ecb6e8;
color: #000000;
font-family: Arial, sans-serif;
text-align: left;
margin-top: 50px;
}

h1 {
font-size: 24px;
margin-bottom: 20px;
}

input {
padding: 5px;
margin: 5px;
border: 1px solid #1515d8;
border-radius: 4px;
}

button {
background-color: #7caa98;
border: none;
padding: 8px 15px;
border-radius: 5px;
cursor: pointer;
margin-top: 10px;
}

button:hover {
background-color: #bca4e4d7;
}

#mensaje {
margin-top: 20px;
font-weight: bold;
}
